{% if data[1].size > 0 %}
<section class="reviewership">
  <h2>Academic Reviewership</h2>
  <ul>
    {% for item in data[1] %}
      <li>{{ item.venue }}</li>
    {% endfor %}
  </ul>
</section>
{% endif %}
