{% if data[1].size > 0 %}
<section class="taship">
  <h2>Teaching Assistantship</h2>
  <ul>
    {% for item in data[1] %}
      <li>{{ item.course }} {% if item.code %} ({{ item.code }}){% endif %} — {{ item.level }}</li>
    {% endfor %}
  </ul>
</section>
{% endif %}
